"googlechrome",
"opera",
"firefox",
"microsoft-edge"
"adobereader",
"sumatrapdf",
"foxitreader",
"microsoft-teams",
"skype",
"zoom",
"telegram",
"signal",
"viber",
"notepadplusplus",
"atom",
"office365business",
"irfanview",
"gimp",
"sharex",
"pycharm-community",
"vscode",
"visualstudio2019enterprise",
"azure-data-studio",
"sql-server-management-studio",
"winmerge",
"git",
"git-credential-manager-for-windows",
"docker-desktop",
"7zip",
"bandizip",
"peazip",
"filezilla",
"winscp",
"cyberduck",
"vlc",
"mediamonkey",
"mpc-hc",
"keepassxc",
"keeweb",
"lastpass",
"bitwarden",
"1password",
"openvpn",
"wireguard",
"forticlientvpn",
"openconnect-gui",
"lenovo-thinkvantage-system-update",
"microsoft-windows-terminal",
"intel-dsa",
"GnuPG",
"WizTree",
"gpg4win",
"flameshot",
"Everything",
"microsoftazurestorageexplorer"
"xmind-2020" 
"tor-browser"
"onedrive"
"googledrive"
"dropbox"
"megasync"
"nextcloud-client"
"visualstudio2019testagent"
"visualstudio2019testcontroller"
"visualstudio2019teamexplorer"