"Google.Chrome",
"Opera.Opera",
"Mozilla.Firefox",
"Adobe.AdobeAcrobatReaderDC",
"SumatraPDF.SumatraPDF",
"Foxit.FoxitReader",
"Microsoft.Teams",
"Microsoft.Skype",
"Zoom.Zoom",
"Telegram.TelegramDesktop",
"OpenWhisperSystems.Signal",
"Viber.Viber",
"Notepad++.Notepad++",
"GitHub.Atom",
"Microsoft.Office",
"IrfanSkiljan.IrfanView",
"GIMP.GIMP",
"ShareX.ShareX",
"Microsoft.VisualStudioCode",
"JetBrains.PyCharm.Community",
"Microsoft.VisualStudio.2019.Enterprise",
"Microsoft.AzureDataStudio",
"Microsoft.SQLServerManagementStudio",
"WinMerge.WinMerge",
"Git.Git",
"Microsoft.GitCredentialManagerCore",
"Docker.DockerDesktop"
"7zip.7zip",
"Bandisoft.Bandizip",
"Giorgiotani.Peazip",
"TimKosse.FileZillaClient",
"WinSCP.WinSCP",
"Iterate.Cyberduck",
"VideoLAN.VLC",
"VentisMedia.MediaMonkey",
"MPC-HC.MPC-HC",
"KeePassXCTeam.KeePassXC",
"KeeWeb.KeeWeb",
"LogMeIn.LastPass",
"Bitwarden.Bitwarden",
"AgileBits.1Password",
"OpenVPNTechnologies.OpenVPN",
"WireGuard.WireGuard",
"LogMeIn.Hamachi",
"Fortinet.FortiClientVPN",
"SonicWALL.GlobalVPN",
"Lenovo.SystemUpdate",
"Microsoft.WindowsTerminal",
"Intel.IntelDriverAndSupportAssistant",
"GnuPG.GnuPG",
AntibodySoftware.WizTree,
GnuPG.Gpg4win,
Flameshot.Flameshot,
voidtools.Everything
